footer.page-footer.footerposition
	.container
		.row
			.col.s3
				h6.white-text Contact US
			.col.s3
				a.grey-text.text-lighten-3(href='http://dhongadeaakash.github.io/') Aakash Dhongade
			.col.s3
				a.grey-text.text-lighten-3(href='ashjacs7@gmail.com') Asha Elza Jacob
			.col.s3
				a.grey-text.text-lighten-3(href='http://codewithnikhil.blogspot.in') Nikhil Ashodariya

	.footer-copyright
		.container
			| © 2017 Copyright 
			a.grey-text.text-lighten-4.right(href='https://www.sfitengg.org') Under SFIT

