#DrawerHeading a
{
  color: rgba(0, 0, 0, 0.87);
}
.card-margin
{
  margin-top: 15px;
}
.modalheighthack
{
	max-height: 100%;
}
.modalheight
{
	max-height:100%
}
.viewdietzeromargin
{
	margin-bottom:0px;
}
 .footerposition
 {
 	position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
 }
 .changeprofileoffset
{
	margin-bottom: 100px;
}