extends ./includes/layout
block main	
	if(!user)	
		.row
			.col.s12.m6
					.card.card-margin
						.card-content
							span.card-title.text-darken-2 Welcome to Geno-Fuzzy-Dietician
							p
								| We will give the best diet to make you Fit!
								| Sign up if you are a new user, Login if you know where you are!
						|             
						.card-action
								// Modal Trigger
								a.waves-effect.waves-light(href="#modalSignup" data-target="#modalSignup") Sign Up
								a.waves-effect.waves-light(href="#modalLogin" data-target="#modalLogin") Login

								// Modal Structure
								#modalSignup.modal.bottom-sheet(style="max-height:100%")
									.modal-content
										.row
											.col.s4.offset-s4
												h5(style="text-align:center") Sign Up
											.col.s4
												a.modal-action.modal-close.btn-floating.waves-effect.waves-light.btn-flat(href="#" style="left:80%")
													i.material-icons.black-text close
										.row
											.col.s12		
												.card.card-margin
													.card-content
														form(action="/signup" method="post")
															.row
																.col.s12.input-field.inline				
																	input#Fname(type='text' name="Fname")
																	label(for='Fname') First Name
															.row
																.col.s12.input-field.inline				
																	input#Lname(type='text' name="Lname")
																	label(for='Lname') Last Name
															.row
																.col.s12.input-field.inline				
																	input#email.validate(type='email' name="email")
																	label(for='email', data-error='wrong',data-success='right') Email
																	
															.row
																.input-field.col.s12
																	input#password.validate(type='password' name="password")
																	label(for='password') Password
															.row
																.col.s12.input-field.inline				
																	input#height(type='number' name="height")
																	label(for='height') Height
															.row
																.col.s12.input-field.inline				
																	input#weight(type='number' name="weight")
																	label(for='weight') Weight
															.row
																.col.s12.input-field.inline				
																	input#age(type='number' name="age")
																	label(for='age') Age
															.row
																.col.s12.input-field.inline				
																	.input-field.col.s12
																		select(multiple='' name="ethnicity")
																			option(value='', disabled='', selected='') Ethnicity
																			option(value='North') North
																			option(value='South') South
																			option(value='East') East
																			option(value='West') West
															.row
																.col.s12
																	input#male.with-gap(name='gender', type='radio', value='male')
																	label(for='male') Male

																	input#female.with-gap(name='gender', type='radio', value='female')
																	label(for='female') Female
															
															.row
																.col.s12
																	input#veg.with-gap(name='foodpref', type='radio', value='veg')
																	label(for='veg') Veg

																	input#nonveg.with-gap(name='foodpref', type='radio', value='nonveg')
																	label(for='non-veg') nonveg
																	
															.row
																.col.s12
																	select#diseases(multiple='', name='diseases')
																		option(value='NA', disabled='', selected='') Diseases
																		option(value='diabetes') Diabetes
																		option(value='hypertension') Hypertension
																		option(value='NA') No Diseases
															.row
																.col.s12
																	select#allergies(multiple='', name='allergies')
																		option(value='NA', disabled='', selected='') Allergies
																		option(value='Lactose') lactose
																		option(value='NA') No Allergies
															.row
																.col.s12
																	select#activity(name='activity', value='activity')
																		option(value='default', disabled='', selected='') Activity
																		option(value='NA') Little to No Activity
																		option(value='LA') Low Activity
																		option(value='MA') Medium Activity
																		option(value='HA') High Activity
																		option(value='VHA') Very High Activity
															.row
																.col.s12
																	select#goal(name='goal')
																		option(value='NA', disabled='', selected='') Goal
																		option(value='LF') Loose Fat
																		option(value='LM') Gain Lean Muscle
																		option(value='MM') Maintenance


															button.btn-flat.modal-action.waves-effect.waves-green.blue-text(type="submit") Sign Up

								
								#modalLogin.modal.bottom-sheet.mod(style="max-height:100%")
									.modal-content
										.row
											.col.s4.offset-s4
												h5(style="text-align:center") Login
											.col.s4
												a.modal-action.modal-close.btn-floating.waves-effect.waves-light.btn-flat(href="#" style="left:80%")
													i.material-icons.black-text close

										.row
											.col.s12
												.card.card-margin
													.card-content
														form(action="/login" method="post")
															.row
																.col.s12.input-field.inline				
																	input#email.validate(type='email' name="email")
																	label(for='email', data-error='Email Format Wrong')  Email
															.row
																.col.s12.input-field.inline				
																	input#password.validate(type='password' name="password")
																	label(for='password') Password

															button.btn-flat.modal-action.waves-effect.waves-green.blue-text(type="submit") Login
	if(user)
		.row
			.col.s12
				.card.card-margin
							.card-content
								span.card-title.text-darken-2 Welcome to Geno-Fuzzy-Dietician
								p  Congratualions you have logged in Successfully
							
								
								


								
							
